/* Add CSS Styling */

p {
    background-color: #e86161;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#number2 {
    color: #0000ff;
    font-size: 18px;
}

.number3 {
    font-size: 36px;
}

#number4 {
    background-color: #5fc2a1;
    font-size: 24px;
    font-weight: bold;
}