/* Add CSS Styling */

.left {
    background-color: #000000;
    color: white;
}

.right {
    background-color: yellow;
}

.left,
.right {
    font-size: 28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}
